@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
    background-color: white;
    margin: 0px;
    font-family: "Nunito Sans";
}

main {
    height: 2150px;
}

/* @font-face {
    src:url('Nunito Sans.ttf');
} */

.logo-olx {
    width: 80px;
    margin: 10px;
}

.button-back {
    width: 177px;
    height: 46px;
    margin-right: 15px;
    border-radius: 33px;
    font-size: 15px;
    color: #f67720;
    margin-top: 14px;
    background-color: transparent;
    border: #f67720 solid 1px;
    font-weight: 700;
}

.logo-back {
    display: flex;
    padding: 15px 0px 20px 15px;
    justify-content: space-between;
}

.header-purple {
    background-color: #6e0ad6;
    height: 222px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.how-to {
    color: #fff;
    margin-top: 43px;
    font-size: 30px;
    font-weight: 700;
}

.input-search {
    margin-top: 27px;
    text-align: left;
    width: 691px;
    height: 48px;
    border-radius: 4px;
    border: none;
}

.button-search {
    color: white;
    background-color: #f28000;
    border: none;
    border-radius: 2px;
    margin: 0px;
    height: 48px;
    text-align: center;
    width: 123px;
}

/* MAIN AREA - ALERT BUTTONS */

.get-help-master { 
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 1500px;
    height: 300px;
}

.get-help-son {
    display: flex;
    justify-content: center;
    width: 945px;
    margin-top: 25px;
}

.div-covid-tips {
    display: flex;
    align-items: center;
    border: 1px #e5e5e5 solid;
    border-radius: 4px;
    width: 421.25px;
    height: 238px;
    margin-right: 15px;
    margin-top: 10px;
    background-color: #f9f9f9;
}

.div-important-info {
    display: flex;
    border: 1px  #e5e5e5 solid;
    align-items: center;
    border-radius: 4px;
    width: 443.25px;
    height: 238px;
    line-height: 22px;
    margin-left: 15px;
    margin-top: 10px;
    background-color: #f9f9f9;
}

.img-megaphone-1 {
    margin-left: 25px;
}

.span-1 {
    color: #4a4a4a;
   margin: 10px 0px 0px 10px;
    font-size: 24px;
    line-height: 22px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 28px;
}

.span-2 {
    margin: 10px 0px 0px 10px;
    width: 278px;
    font-size: 19px;
}

.span-3 {
    font-weight: bold;
    font-size: 18px;
    color: #5a08af;
    margin: 30px 0px 10px 10px;
    padding-top: 30px;
}

/* INSTANT MENUS JAVASCRIPT PART */

.questions-master {
    display: flex;
    flex-direction: column;
    width: 971px;
    justify-content: flex-start;
    margin: 0 auto;
}

.questions-father1 {
    margin-left: 25px;
    font-size: 18px;
}

.questions-father2 {
    display: block;
    margin-left: 25px;
    margin-top: 30px;
    padding-bottom: 25px;
    font-size: 18px;
    border-bottom: #ccc solid 1px;
    text-decoration: none;
    color: rgb(79, 79, 79);
}

/*FREQUENT DOUBTS PART*/

.frequent-doubts-father {
    margin-left: 25px;
    font-size: 18px;
    margin-top: 40px;
}

.frequent-doubts {
    display: block;
    color: #6e0ad6;
    font-size: 18px;
    padding-left: 15px;
  margin-top: 10px;
  text-decoration: none;
}

.still-doubts-master {
padding-top: 150px;
}

.still-doubts {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border: black 1px solid;
    width: 500px;
    height: 85px;
}

.button-still-doubts {
    width: 177px;
    height: 46px;
    margin-right: 15px;
    margin-left: 30px;
    border-radius: 33px;
    font-size: 15px;
    color: #fff;
    background-color: #f28000;
    border: #f67720 solid 1px;
    font-weight: 700;
}

.doubt-paragraph {
    font-size: 19px;
}

/*FOOTER*/

.main-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5rem;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #f9f9f9;
    height: 236px;
    padding: 20px 0;
}

.master-footer {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.content-images {
    display: inline;
    justify-content: center;
}

.footer-icons {
    display: flex;
    justify-content: center;
}

.adjust-height {
    height: 40px;
    width: 40px;
}

.hr-footer {
    width: 2200px;
    margin: 30px auto 10px auto;
    color: gray;
}

.about-links-master {
    margin-left: 89px;
}

.about-links {
    text-decoration: underline;
    color: #8b8989;
    font-size: 13px;
}

.about-links2 {
    margin-top: 1px;
    color: #8b8989;
    font-size: 13px;
}
